<% include header.html %>

<div class="jumbotron">
  <h1>About</h1>
  <p>This is an open source project made for <a target="_blank" href="http://nodeknockout.com/">NodeKO</a> 2013.</p>
  <p>Check out the <a href="https://github.com/nko4/walbril">Github repo.</a></p>
  <p>Tecnologies used:</p>
  <ul>
    <li>
      <a target="_blank" href="http://nodejs.org/">NodeJS</a>
    </li>
    <li>
      <a target="_blank" href="http://expressjs.com/">ExpressJS</a>
    </li>
    <li>
      <a target="_blank" href="http://www.mongodb.org/">MongoDB</a>
    </li>
  </ul>

</div>
<% include footer.html %>