<% include header.html %>


<div id="map-canvas"></div>
<div class="top">
  <p>Rotas</p>
  <div class="right">
    <iframe src="http://nodeknockout.com/iframe/walbril" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  var socket = io.connect('http://localhost:8000');
  socket.on('news', function (data) {
    draw(data);
  });

  var paths = new google.maps.MVCArray();

  $(document).ready(function(){
    Geo.get(showMap);
  });

  var map;
  function draw(data) {
    paths.push(new google.maps.LatLng(data.latitude, data.longitude));
    var line = new google.maps.Polyline({
      path: paths,
      geodesic: true,
      strokeColor: 'green',
      strokeOpacity: 1.0,
      strokeWeight: 5
    });
    line.setMap(map);
  }

  function showMap(geo) {
    var mapOptions = {
      center: new google.maps.LatLng(geo.coords.latitude, geo.coords.longitude),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  }
</script>
<% include footer.html %>
