<% include header.html %>

<div class="jumbotron">
  <h1>Track me</h1>
  <p>Have your route in our map!</p>
  <p><a class="btn btn-primary btn-lg tracking" role="button" data-session-id="<%= session_id %>">Start</a></p>
</div>

<script>
  Zepto(document).ready(function() {
    $('.tracking').on('click', function() {
      var element = $(this);
      if (element.html() === 'Start' ) {
        element.html("Stop");
        start();
      } else {
        element.html("Start");
        stop();
      }
    });
  });

  function start() {
    Geo.watch(function(position){
      var data = {};
      data.session_id = $('button').data('session-id');
      data.latitude = position.coords.latitude;
      data.longitude = position.coords.longitude;
      $.ajax({
        type: 'POST',
        url: '/create',
        data: JSON.stringify(data),
        contentType: 'application/json'
      });
    });
  }

  function stop() {
    Geo.clearWatch();
  }
</script>
<% include footer.html %>