<% include header.html %>

<h1>Track</h1>

<button data-session-id="<%= session_id %>" class="tracking">Start tracking</button>
<script>
  Zepto(document).ready(function() {
    $('.tracking').on('click', function() {
      var element = $(this);
      if (element.html() === 'Start tracking' ) {
        element.html("Stop tracking");
        start();
      } else {
        element.html("Start tracking");
        stop();
      }
    });
  });

  function start() {
    Geo.watch(function(position){
      var data = {};
      data.session_id = $('button').data('session-id');
      data.latitude = position.coords.latitude;
      data.longitude = position.coords.longitude;
      $.ajax({
        type: 'POST',
        url: '/create',
        data: JSON.stringify(data),
        contentType: 'application/json'
      });
    });
  }

  function stop() {
    Geo.clearWatch();
  }
</script>
<% include footer.html %>