html, body, #map {
  margin: 0;
  padding: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Ubuntu', sans-serif;
}

.top  {
  position: absolute;
  background: #FF9900;
  zoom: 1;
  background: rgb(255, 144, 0); 
  background: rgba(255, 144, 0, .8);
  top:0;
  width: 100%;
  border-bottom: 1px solid #000;
  text-align: center;

}

.right {
  position: absolute;
  right: 25px;
  top: 10px;
}